{% extends "layout.html" %}

{% block title %} Bill Patient {% endblock %}

{% block content %} 

<style>
    /* input {
        position: absolute;
      
    
    
   
    } */
    .text{
        width: 250px;
        padding: 10px 5px;
        border: none;
        border: solid 2px rgb(31, 21, 21) !important;
        border-radius: 5px;
        


}
</style>
<div style="margin-top: 150px; text-align: center;">
    <h1 style="color: rgb(7, 7, 141);"> Search Patient for Billing</h1>

 <div style="margin-left: -10px;">
    <form action="" method="POST">
        <label for="customer_id" style="font-weight: bold; font-size: large; color: red;">Patient ID</label>
&nbsp;&nbsp;        <input class="text" type="text" name="id" id="id"><br><br>
        <button class="button" type="submit">Get Details</button>
    </form>
</div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}<br>
        <p style="color: rgb(255, 5, 5);text-align: center; font-weight: bolder;"> <strong>{{ msg }}</strong> </p>
        {% endfor %}
{% endif %}
{% endwith%}
<br>

<div >
    {% if patient %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>SSN ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>ROOM TYPE</th>
            <th>ADDRESS</th>
            <th>STATUS</th>
            <th>ADMIT DATE</th>
            <th>No. OF DAYS</th>
            <th>ROOM BILL </th>
            
        </tr>
        
        <tr>
            <td> {{ patient.id }} </td>
            <td> {{ patient.ssn_id }} </td>
            <td> {{ patient.pname }} </td>
            <td> {{ patient.age }} </td>
            <td> {{ patient.tbed }} </td>
            <td> {{ patient.address }}</td>
            <td> {{ patient.status }} </td>
            <td> {{ y }} </td>
            <td> {{delta}} </td>
            <td> {{ bill }} </td>
        </tr>

        <tr>
            
        </tr>
        
    </table>

    
</div>

    {% else %}

                <h3></h3>

    {% endif %}

{% endblock %}