{% extends "layout.html" %}

{% block title %} Patient Status {% endblock %}

{% block content %}

<div class="astatus">

    <h1 style="color: rgb(228, 1, 1);" >Delete Patients </h1><br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{ msg }} </p>
            {% endfor %}
        {% endif %}
    {% endwith%}

    <table >
        <tr>
            <th>ID</th>
            <th>SSN ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>BEDTYPE</th>
            <th>ADDRESS</th>
            <th>CITY</th>
            <th>STATE</th>
            <th>STATUS</th>
            <th>ADMIT DATE</th>
            <th>LAST EDIT</th>
            <th></th>
            
        </tr>
        {% for update in updatep %}
        <tr>
            <td> {{ update.id }} </td>
            <td> {{ update.ssn_id }} </td>
            <td> {{ update.pname }} </td>
            <td> {{ update.age }} </td>
            <td> {{ update.tbed }} </td>
            <td> {{ update.address }}</td>
            <td> {{ update.city }} </td>
            <td> {{ update.state }} </td>
            <td> {{ update.status }} </td>
            <td> {{ update.date }} </td>
            <td> {{ update.ldate }} </td>
            <td> <button type="button" class="dbutton" onclick="window.location='deletepatientdetail/{{ update.id }}'"> Delete Patient </button> </td>
        </tr>
        {% endfor %}
    </table>
    <br>

    <form action="{{ url_for('deletepat') }}">
    <button type="submit" class="ibutton" value="Refresh the list">Refresh Status</button>
    </form>
</div>

{% endblock %}
