{% extends "layout.html" %}

{% block title %} Edit Medicine {% endblock %} 

{% block content %} 

<style>
    /* input {
        position: absolute;
        left: 150px;
    }
    
    select {
        position: absolute;
        left: 150px;
    } */
</style>
<div class="form1">
    <h1 id="cst_head">Edit Medicine </h1>
    
    {% for edit in editpat %}
    <form action="" method="POST">
        <label for="id">Medicine ID:   </label> {{ edit.mid }} <br><br>
        
        <label for="Name">Old Medicine Name:   </label> {{ edit.mname }} <br><br>
        <label for="New customer Name*">New Medicine Name*</label>
        <input type="text" class="text1" id="mname" name="mname" required><br><br>

        <label for="Old Address">Current Quantity:  </label> {{ edit.qavailable }} <br><br>
        <label for="New Address*">Update Quantity*</label>
        <input type="number" class="text1" id="qavailable" min="1" name="qavailable" required><br><br>
        
        <label for="Old Age">Old Rate:  </label> {{ edit.rate }} <br><br>
        <label for="New Age*">New Rate*</label>
        <input type="number" class="text1" id="rate" name="rate" min="1" required><br><br>
       
        <pre>(*)Fields are compulsary</pre>
        <button  type="submit" class="ubutton">Update</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{ msg }} </p>
            {% endfor %}
        {% endif %}
    {% endwith%}

    {% endfor %}

</div>

{% endblock %}