<title>Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">



<div class="regwrapper"> 
   
        <div class="loginheading"><p><b> Administration Staff Login</b></p></div>
    <div class="form">
        <form action="" method="post">
          
                <label for="uname" style="font-weight: bold; color: rgb(75, 84, 216);"> Username </label><br><input class="text" type="text" name="username" required minlength="5" class="logindecor" placeholder="UserName">
        
          
            
                <label for="pass" style="font-weight: bold; color: rgb(65, 77, 240);"> Password </label> <br><input class="text" type="password" name="password" required minlength="6" class="logindecor" placeholder="Password">            
           <br> <input class="bt" type="submit" value="Login">
            
        </form>
        <strong style="color: green;">Don't have Account?  Click <a href="{{ url_for('registration') }}">here</a> to Register.</strong>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        
            <p class="messages"> {{ msg }} </p>
       
        {% endfor %}
    {% endif %}
{% endwith%}
</div>