{% extends "layout.html" %}

{% block title %} Search Patient {% endblock %}
{% block css %}
<style>
    .container{
        width: 90%;
        margin: auto;
        margin-top: 100px;
    }
    .text{
        width: 250px;
        padding: 10px 5px;
        border: none;
        border: solid 2px rgb(31, 21, 21) !important;
        border-radius: 5px;
    }
  </style>
{% endblock %}
{% block content %} 

<div class="container">
<div >
    <h1 style="color: rgb(221, 28, 28);"> Issue Medicines</h1>

 
    <form action="" method="POST">
        <label for="id" style="font-weight: bold; font-size: larger; color: rgb(4, 4, 136);">Patient ID</label> &nbsp;&nbsp;
        <input type="text" class = "text" name="id" id="id"><br><br>
        <button class="button" type="submit">Search</button> <br><br>
    </form>
    <form action="{{ url_for('PharmacistPatientDetails') }}">
        <button type="submit" class="rbutton" value="Refresh the list">Reset</button>
    </form>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
    <p style="color: rgb(248, 11, 11);text-align: left;"> <strong>{{ msg }}</strong> </p>
    {% endfor %}
{% endif %}
{% endwith%}


<div >
    <table class="table">
        {% if patient %}
        <tr>
            <th>ID</th>
            <th>SSN ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>ROOM TYPE</th>
            <th>ADDRESS</th>
            <th>STATUS</th>
            <th>ADMITTED ON</th>
            <th></th>
            
        </tr>
    
    
        
        <tr>
            <td> {{ patient.id }} </td>
            <td> {{ patient.ssn_id }} </td>
            <td> {{ patient.pname }} </td>
            <td> {{ patient.age }} </td>
            <td> {{ patient.tbed }} </td>
            <td> {{ patient.address }}</td>
            <td> {{ patient.status }} </td>
            <td> {{ patient.date }} </td>
            {% if patient.status == 'Active' %}
            <td> <button type="button" class="ibutton"  onclick="window.location='issuemedicine/{{ patient.id }}'"> Issue Medicines </button> </td>
            {% else %}
            <td> Patient Discharged </td>
            {% endif %}
        </tr>
        
    </table>
    
    
</div>

    {% else %}

                <h3></h3>

    {% endif %}

    
    <br><br>
    {% if med %}
    <p style="color: rgb(248, 11, 11);text-align: left;"> <strong>Medicines Issued</strong> </p>
    <table class="table" border="1">
        <tr>
            <th> ID </th>
            <th> NAME </th>
            <th> QUANTITY ISSUED </th>
            <th>ISSUED DATE</th>
            <th> RATE </th>
            <th> AMOUNT </th>
        </tr>
        {% for med in med %}
        <tr>
            <td> {{ med.mid }} </td>
            <td> {{ med.mname }} </td>
            <td> {{ med.qissued }} </td>
            <td> {{ med.date }} </td>
            <td> {{ med.rate }}.00 </td>
            <td> {{ med.qissued * med.rate }}.00 /- </td>
        </tr>
        {% else %}
            <h4>No Medicines issued  </h4> 
        {% endfor %}
    </table>
    {% endif %}
   </div>

{% endblock %}