    <div class="footer">
        <div class="space-around" >
        <div  class="footercontent1">
            <div>
                <p class="foot_word_edit"><b> About Us</b></p>
                
                <div class="footcontentinfo"><span>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww.</span>
                </div>
            </div>
            
        </div>
            <div class="footercontent2">
                <div>
                    <p class="foot_word_edit"><b>Services</b></p>
                <div class="footcontentinfo"><span>wwwwwwwwwwwwwwwwwwwwwwwwwwwww
                </span>
                </div>
                </div>
            </div>
            <div class="footercontent3">
                <div>
                    <p class="foot_word_edit"><b>Contact Us</b></p>
                    <div class="footcontentinfo"><span>Email : customer.service@abchospital.com</span>
                        <span>Contact No : 0506659956262</span>
                        <span>Address :ssssssssssssssssssssss</span>
                        <span>ssssssssssssss po ssssss</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-between endfooter">
            <div>
                <span class="lastfooter">Copyright © All rights reserved by</span>
                <span class="foot_word_edit lastfooter"><b>ABC Hospital</b></span>
            </div>
            <div>
                <span class="foot_word_edit lastfooter "><b>Connect Us</b></span>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                <i class="fa fa-sitemap" aria-hidden="true"></i>


            </div>
        </div>
    </div>