    <div class="footer">
        <div class="space-around" >
            <div  class="footercontent1">
                <div>
                    <p class="foot_word_edit"><b> About Us</b></p>
                    
                    <div class="footcontentinfo"><span>We provide mental health care based on state-of-the-art technology and expertise at a cost ensuring value for money.
                    <br> Also a delightful ambience and excellent comprehensive care with a human touch, by integrated team work and quality systems with monitoring and feed back.</span>
                    </div>
                </div>
                
            </div>
            <div class="footercontent2">
                <div>
                    <p class="foot_word_edit"><b>Our Services</b></p>
                <div class="footcontentinfo"><span>Emergency Services <br> Wards <br>
                    Dementia Clinic <br> De-addiction Center <br> Neuropsychiatry
                </span>
                </div>
                </div>
            </div>
            <div class="footercontent3">
                <div>
                    <p class="foot_word_edit"><b>Contact Us</b></p>
                    <div class="footcontentinfo"><span>Email : customer.service@bioneucare.com</span>
                        <span>Contact No : 1234567890</span>
                        <span>Address : 3rd floor XYZ Complex , MC Road</span>
                        <span>Thuruthy P.O Kottayam Kerala</span>
                        <span>Zip : 686535</span>
                    </div>
                </div>
            </div>
    </div>
        <div class="space-between endfooter">
            <div>
                <span class="lastfooter">Copyright © All rights reserved by</span>
                <span class="foot_word_edit lastfooter"><b>ABC Hospital</b></span>
            </div>
            <div>
                <span class="foot_word_edit lastfooter "><b>Connect Us</b></span>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                <i class="fa fa-sitemap" aria-hidden="true"></i>


            </div>
        </div>
    </div>