<header>
    <div class="heading">
        <h1 id="logo" style="color: rgb(14, 87, 245); display: inline-flex;">ABC&nbsp;
            <div style="color: rgb(0, 102, 255); display: inline-flex;">HOSPITAL</div>
        </h1>
    </div>
    <div class="links">
        <nav class="navbar">

            <div class="home"><a href="{{ url_for('home') }}">Home</a></div>
            <div class="dropdown">
                <button class="dropbtn">Patient Management
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('create_patient') }}">Create Patient</a>
                    <a href="{{ url_for('update_patient') }}">Update Patient</a>
                    <a href="{{ url_for('update_patient') }}">Delete Patient</a>
                    <a href="{{ url_for('search_patient') }}">Search Patients</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Billing
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('billing') }}">Patient Billing</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Status Details
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('update_patient') }}">All Patients</a>
                    <a href="{{ url_for('patientscreen') }}"> Active Patients</a>
                    <a href="{{ url_for('search_patient') }}">Search Patients</a>
                </div>
            </div>

            <div class="logout"><a href="{{ url_for('logout') }}">Logout</a></div>

        </nav>
    </div>
</header>