<header>
    <div class="heading">
        <h1 id="logo" style="color: rgb(43, 255, 0); display: inline-flex; font-size: 40px;">BioNeu
            <div style="color: rgb(251, 255, 0); display: inline-flex; font-size: 40px;">Care </div>
        </h1>
    </div>
    <div class="links">
        <nav class="navbar">

            <div class="home"><a href="{{ url_for('home') }}">Home</a></div>
            <div class="dropdown">
                <button class="dropbtn">Patient Management
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('create_patient') }}">Register Patient</a>
                    <a href="{{ url_for('update_patient') }}">Update Patient</a>
                    <a href="{{ url_for('deletepat') }}">Delete Patient</a>
                    <a href="{{ url_for('search_patient') }}">Search Patients</a>
                </div>
            </div>


            <div class="dropdown">
                <button class="dropbtn">Status Details
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('update_patient') }}">All Patients</a>
                    <a href="{{ url_for('patientscreen') }}"> Active Patients</a>
                    <a href="{{ url_for('search_patient') }}">Search Patients</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Medicine Store
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('addMedicine') }}">Add Medicine</a>
                    <a href="{{ url_for('medicinestatus') }}"> Medicine Status</a>
                    <a href="{{ url_for('updatemed') }}">Update Medicine</a>
                    <a href="{{ url_for('deletemed') }}">Delete Medicine</a> 
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Pharmacy
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('PharmacistPatientDetails') }}">Issue Medicines</a>
                    <a href="{{ url_for('DiagnosticsPatientDetails') }}">Issue Diagnostics</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Diagnostics Service
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('DiagnosticsPatientDetails') }}">Issue Diagnostics</a>
                    <a href="{{ url_for('diagnosticsstatus') }}">Diagnostics Status</a>
                    <a href="{{ url_for('addDiagnostics') }}">Add Diagnostics </a>
                    <a href="{{ url_for('DiagnosticsPatientDetails') }}">Update Test</a> 
                    <a href="{{ url_for('DiagnosticsPatientDetails') }}">Delete Test</a> 
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Billing
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('billing') }}">Patient Billing</a>
                </div>
            </div>

            <div class="logout"><a href="{{ url_for('logout') }}">Logout</a></div>

        </nav>
    </div>
</header>